<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido a MUSIFY</h1>
        <p class="lead">Empieza a escuchar musica de tus artistas favoritos y descubre nuevos hits</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['/artistas',1]" role="button">Ver artistas</a>
            <a class="btn btn-primary btn-lg" [routerLink]="['/albums',1]" role="button">Ver albums</a>
            <a class="btn btn-info btn-lg" [routerLink]="['/mis-datos']" role="button">Mis datos</a>
        </p>

        <div class="input-group caja-buscar">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input id="buscar" type="text" class="form-control" name="buscar" placeholder="Buscar" [(ngModel)]="search" (keydown)="buscar($event)">
        </div>
    </div>
</div>