<div *ngIf="identity" class="navigation col-lg-1">
  <h1 class="head-title">
      <a [routerLink]="['/']" (click)="abrirBuscar(false)">
        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
        {{title}}
      </a>
  </h1>
  <nav  id="navigation">
    <a [routerLink]="" (click)="abrirBuscar(true)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Buscar</a><br>
    <input id="buscar" type="text" class="form-control" name="buscar" placeholder="Buscar" [(ngModel)]="search" (keydown)="buscar($event)" *ngIf="busqueda==true">
    <a (click)="abrirBuscar(false)" [routerLink]="['/artistas',1]" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Artistas</a><br>
    <a (click)="abrirBuscar(false)" [routerLink]="['/albums',1]" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Albums</a><br>
  </nav>
   
  <nav id="user-logged">
    <div class="user-image">
        <img id="image-logged" src="{{url + 'get-image-user/' + identity.image}}" />
    </div>
    <span id="identity_name">{{identity.name}}</span>
    <a [routerLink]="['/mis-datos']" (click)="abrirBuscar(false)" [routerLinkActive]="['actived']"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>Mis datos</a>
    <a (click)="logout()" class="btn-logout">
      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
      Salir
    </a>
  </nav>

</div>


<div [class.hidden]="!identity" class="central col-lg-11">
   <router-outlet></router-outlet>
   <div class="clearfix"></div>
   <player class="player" *ngIf="identity"></player>
</div>

<div class="col-lg-11" *ngIf="!identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <div *ngIf="errorMessage">
      <div class="alert alert-info">
        <strong>Error</strong> {{errorMessage}}
      </div>
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label>Correo electronico:</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary" />
    </form>
  </div>
  <div class="col-lg-6" *ngIf="!identity">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister">
      <div class="alert alert-info">
        {{alertRegister}}
      </div>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
      <p>
        <label>Nombre:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required />
        <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
      </p>
      <p>
        <label>Apellidos:</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required />
        <span *ngIf="!surname.valid && surname.touched">Los apellidos es obligatorio</span>
      </p>
       <p>
        <label>Correo electronico:</label>
        <input type="email" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control" required />
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register .password" class="form-control" required />
        <span *ngIf="!password.valid && password.touched">La Contraseña es obligatoria</span>
      </p>
      <input type="submit" value="Registrarse" class="btn btn-primary" />
    </form>
   </div>
</div>
